body {
  margin: 0;
  /*padding: 0;*/
  padding-left: 50px;
  text-align: left;
  color: white;
  font-family: 'Audiowide', cursive;
  background-image: url('1322438 2.jpg');
  background-size: cover;
}

.blank{
  width: 150px;
  height: 150px;
  background-color: darkslategray;
  background-size: 150px 150px;
  opacity: 0.5;
  margin: 0.5em;
}

.cross {
  width: 150px;
  height: 150px;
  background-image: url("extraterrestial-head.png");
  background-color: lightgray;
  background-size: 150px 150px;
  opacity: 0.5;
  margin: 0.5em
}

.nought {
  width: 150px;
  height: 150px;
  background-image: url("astronaut-ingravity.png");
  background-color: lightgray;
  background-size: 150px 150px;
  opacity: 0.5;
  margin: 0.5em
}